﻿@model MeRestaurantProj.Models.Dish

@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h2>Enter the Dish</h2>
    <a asp-action="AddDish" asp-controller="Menu">AddDish</a>

    <form asp-action="AddDish" asp-controller="Menu" asp-anti-forgery="true">
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div>
            <div class="form-group">
                <label asp-for="Name">Enter Name:</label><br />
                <input type="text" asp-for="Name" />
                <span asp-validation-for="Name" />
            </div>
            <div class="form-group">
                <label asp-for="Price">Enter Price:</label><br />
                <input asp-for="Price" />
                <span asp-validation-for="Price" />
            </div>
            <div class="form-group">
                <input type="submit" value="Add a dish" />
            </div>
        </div>
    </form>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>