﻿@model MeRestaurantProj.Models.ApplicationContext;

@{
    ViewData["Title"] = "Index";
}

<h1>Movies</h1>

<p>
    @if (User.IsInRole("admin"))
    {
        <a asp-action="AddDish">Add a Dish</a>
    }
</p>

<table class="table">
    <tbody>
        @foreach (var item in Model.Dishes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-action="AddToBucket" asp-controller="Order" asp-route-id="@item.Id">Add To bucket</a>
                    @if (User.IsInRole("admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>