﻿@model MeRestaurantProj.Models.LoginModel

@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h2>Enter the website</h2>
    <a asp-action="Register" asp-controller="Account">Registration</a>

    <form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div>
            <div class="form-group">
                <label asp-for="Login">Enter Login:</label><br />
                <input type="text" asp-for="Login" />
                <span asp-validation-for="Login" />
            </div>
            <div class="form-group">
                <label asp-for="Password">Enter Password:</label><br />
                <input asp-for="Password" />
                <span asp-validation-for="Password" />
            </div>
            <div class="form-group">
                <input type="submit" value="Log in" />
            </div>
        </div>
    </form>
</div>